#Q1.
- data structure is way of organize and store data, so that we can use the data efficiently..

#Q2.
- mutable data is that data which can be change after creation (e.g. list)
immutable data type is data type which can not be changed after creation..(e.g. tuple)

#Q3.
- list is mutable but tuple is immutable.

#Q4.
-In python dictionary store the data with the form of "key" and "value" pair.

#Q5.
- because set have always unique and ordered data..

#Q6.
- string is type of data in python
string is immutable but list is immutable

#Q7.
- because tuples are immutables

#Q8.
- A hash table is a data structure that stores key-value pairs. It uses a hashing function to map keys to unique indices

#Q9.
- yes list can store many data types

#Q10.
- main reason behind string are immutable is security and data integrity

#Q11.
- Dictionaries are particularly advantageous for key-value mapping and fast lookups, while lists excel at ordered collections and sequential access.

#Q12.
- when data is very confidential we will prefer the tuple over list

#Q13.
-  Python, sets are unordered collections of unique elements. When you add duplicate values to a set, Python automatically removes the duplicates


#Q14.
- The in keyword in Python is used to check if an element exists in a list, dictionary, set, or other iterable. However, the way it operates internally differs between lists and dictionaries.

#Q15.
- we can modify tuples because it is immutable..

#Q16.
-A nested dictionary is a dictionary where some of the values are themselves dictionaries.

store_inventory = {
    "electronics": {
        "laptops": {"HP": 10, "Dell": 5, "MacBook": 2},
        "phones": {"iPhone": 15, "Samsung": 20}
    },
    "furniture": {
        "tables": {"Wooden Table": 5, "Glass Table": 3},
        "chairs": {"Office Chair": 10, "Dining Chair": 8}
    }
}


#Q17.
-In Python, dictionaries are implemented using hash tables. The time complexity for accessing elements in a dictionary depends on whether you're accessing a value by its key or performing other dictionary operations.

#Q18.
- when we have to store multiple types of data in liner form then we preffer list over dictionary

#Q19
- Dictionaries in Python are considered unordered because they do not maintain the order of the elements based on the sequence in which they are inserted. The key-value pairs in a dictionary are stored in a way that optimizes performance for lookups, insertions, and deletions, rather than for maintaining a specific order


#Q20.
- n Python, lists and dictionaries are both built-in data structures, but they are optimized for different types of use cases, and their performance and methods for retrieving data are quite different.

In [1]:
#Q1.

name = "amit kumar sharma"

print(name)

amit kumar sharma

In [2]:
#Q2.

a = "hello world"

len(a)

11

In [4]:
#Q3.

a = "python programming"

a[0:3]

'pyt'

In [5]:
#Q4.

a = "hello"

a.upper()

'HELLO'

In [8]:
#Q5.

a = "i like apple"

b = a.replace("apple","orange")

print(b)

i like orange

In [9]:
#Q6.

num = [1,2,3,4,5]

print(num)

[1, 2, 3, 4, 5]

In [15]:
#Q7.

list1 = [1,2,3,4]

list1.append(10)

print(list1)

[1, 2, 3, 4, 10]

In [16]:
#Q8.

list1 = [1,2,3,4,5]


list1.remove(3)

print(list1)

[1, 2, 4, 5]

In [17]:
#Q9.

list1 = ["a","b","c","d"]

list1[1]

'b'

In [25]:
#Q10.

list1 = [10, 20, 30, 40, 50]



list1.reverse()

print(list1)

[50, 40, 30, 20, 10]

In [26]:
#Q11.

a = (10,20,30)

print(a)

(10, 20, 30)

In [29]:
#Q12.

a =  ('apple', 'banana', 'cherry')

a[0]

'apple'

In [30]:
#Q13

a = (1, 2, 3, 2, 4, 2)

a.count(2)

3

In [31]:
#Q14

a = ('dog', 'cat', 'rabbit')

a.index("cat")

1

In [32]:
#Q15.

list1 =  ('apple', 'orange', 'banana')

if "banana" in list1:
    print("banana is there")
else:
    print("banana is not there")

banana is there

In [34]:
#Q16.
a = ( 1, 2, 3, 4, 5 )

set1 = set(a)

print(set1)

{1, 2, 3, 4, 5}

In [36]:
#Q17.

set1 =  {1, 2, 3, 4}

set1.add(6)

print(set1)

{1, 2, 3, 4, 6}

In [37]:
#Q18.

list1 = [10, 20, 30]

tuple1 = tuple(list1)

print(tuple1)

(10, 20, 30)

In [40]:
#Q19.

tuple1 = ('apple', 'banana', 'cherry')

tuple1[0]

'apple'

In [41]:
#Q20.

tuple1 = (1, 2, 3, 2, 4, 2)

tuple1.count(2)

3

In [42]:
#Q21.

tuple1 =  ('dog', 'cat', 'rabbit')

tuple1.index("cat")

1

In [43]:
#Q22.

list1 = ('apple', 'orange', 'banana')

if "banana" in list1:
    print("banana is there")
else:
    print("banana is not there")

banana is there

In [44]:
#Q23.

list1 = [ 1, 2, 3, 4, 5]

set1 = set(list1)

print(set1)

{1, 2, 3, 4, 5}

In [45]:
#Q24.

set1 =  {1, 2, 3, 4}


set1.add(6)

print(set1)

{1, 2, 3, 4, 6}